@model List<GameShoppa.Models.Game>

@{
    ViewData["Title"] = "Games";
}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h2 class="my-4">Genres</h2>
            <div class="list-group">

                @foreach(var item in Model)
                {
                    <a href="#" class="list-group-item">@item.Genre</a>
                }

            </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            <div class="row">

                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a asp-action="Game" asp-route-id="@item.ID"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a asp-action="Game" asp-route-id="@item.ID">@item.Title</a>
                                </h4>
                                <h5>$@item.Price</h5>
                                <p class="card-text">@item.Description</p>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
